# ROCm Dependencies
#
# NOTE: Install PyTorch with ROCm FIRST!
#
# Install with: pip install -r requirements-rocm.txt

--extra-index-url https://download.pytorch.org/whl/rocm6.2.4
torch==2.6.0
torchvision==0.21.0
